<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>RESTful Prime API</title>
</head>
<body>
<h1>RESTful Prime API</h1>
<article>This application will give list of prime numbers till the given number.</article>
<ul>
    <li><a href="/primes">/primes</a></li>
    <li><a href="/primes/20">/primes/20</a></li>
    <li><a href="/primes/40.json">/primes/40.json</a></li>
    <li><a href="/primes/50.xml">/primes/50.xml</a></li>
    <li><a href="/primes/100?mediaType=json">/primes/100?mediaType=json</a></li>
    <li><a href="/primes/1000?mediaType=xml">/primes/1000?mediaType=xml</a></li>
</ul>
</body>
</html>
